/* debug rules */
[class*="debug"] {
    /* height: 200px;
    background-color: blueviolet;
    border: 1px solid black;
    color: black; */
    text-align: center;
}
/* 
#jumbotron .debug {
    background-color: tomato;
    height: 200px;
}

footer .debug {
    background-color: grey;
} */

/* other rules */
header {
    background-color: #2c3e50;
}

#jumbotron {
    background-color: #1abc9c;
}

#about {
    background-color: #1abc9c;
}

#contactform {
    width: 60%;
    margin: 0 auto;
}

#footer-top {
    background-color: #3a546d;
}

#footer-bot {
    background-color: #2c3e50;
}

nav.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.55); */
}

nav.navbar-light .navbar-toggler {
    color: #1abc9c77;
    border-color: #fff;
}

nav.navbar-light .navbar-toggler-icon {
    /* color: white; */
    font-size: 20px;
}

nav ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    text-align: center;
}

nav .navbar-collapse {
    flex-grow: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTIxLjUsNzguODMzMzNoMTI5djE0LjMzMzMzaC0xMjl6TTIxLjUsMzUuODMzMzNoMTI5djE0LjMzMzMzaC0xMjl6TTIxLjUsMTIxLjgzMzMzaDEyOXYxNC4zMzMzM2gtMTI5eiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+");
}


main img {
    width: 100%;
    border-radius: 15px;
    margin: 20px 0;
}

#jumbotron img {
    height: 300px;
}

.section_title {
    font-size: 45px;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}

footer .footer_icons {
    margin: 30px 0;
}

footer .footer_icons i {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3%;
}